html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

@media only screen and (min-width: 993px) {
  #content {
    margin-left: 240px;
  }
}

.home-landscape {
  background: url(/imgs/books-background.jpg) top center;
  height: 500px;
  color: white;
  text-align: center;
  margin-top: -60px;
}

.home-landscape h1 {
  padding-top: 200px;
}

.home-concept {
  padding-top: 50px;
}

.home-concept .card-demo {
  float: right;
  width: 400px;
  margin: 10px;
  box-shadow: 0px 0px 2px 0px #656565;
  border-radius: 3px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

footer > .content {
  padding-right: 15px;
  padding-left: 15px;
}

header,
main,
footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 99%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}

.card-viewer {
  position: absolute;
  top: 64px;
  bottom: 64px;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
}

.card-image img {
  max-height: 400px;
}

@media only screen and (min-width: 993px) {
  .card-viewer {
    left: 240px;
  }
}

.card-viewer .card {
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

.listen-card {
  cursor: pointer;
  margin: 10px;
}

.lessons-viewer {
  max-width: 600px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .card-viewer .card {
    margin: 0 15px;
  }
}

/*.card-viewer {
  border: 1px solid blue;
  position: relative;
}

.card-viewer .card {
  max-width: 600px;
  margin: auto;
  float: right;
}*/

.evaluation {
  width: 20%;
  float: left;
  text-align: center;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 0;
}

.evaluation:hover {
  background: #F1F1F1;
}

.evaluation img {
  width: 70%;
  margin: 0 15%;
}

.lesson-image {
  margin-top: 20px;
  margin-right: 2px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.link-container a,
.shake-me {
  display:block;
  position:relative;
}
.shake-me:hover img {
  -webkit-animation-name: linkQuake;
    -moz-animation-name: linkQuake;
      animation-name: linkQuake;
  -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
      animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
      transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
      animation-timing-function: linear;
}

@keyframes linkQuake {
  0%   {
    transform: translate(2px, 1px)   rotate(0deg);
  }
  10%  {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%  {
    transform: translate(-3px, 0px)  rotate(1deg);
  }
  30%  {
    transform: translate(0px, 2px)   rotate(0deg);
  }
  40%  {
    transform: translate(1px, -1px)  rotate(1deg);
  }
  50%  {
    transform: translate(-1px, 1px)  rotate(-1deg);
  }
  60%  {
    transform: translate(-3px, -2px)  rotate(0deg);
  }
  70%  {
    transform: translate(2px, 1px)   rotate(-1deg);
  }
  80%  {
    transform: translate(-1px, -2px) rotate(1deg);
  }
  90%  {
    transform: translate(2px, -1px)   rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px)  rotate(-1deg);
  }
}

@-moz-keyframes linkQuake { /* Firefox */
  0%   {
    -moz-transform: translate(2px, 1px)   rotate(0deg);
  }
  10%  {
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%  {
    -moz-transform: translate(-3px, 0px)  rotate(1deg);
  }
  30%  {
    -moz-transform: translate(0px, 2px)   rotate(0deg);
  }
  40%  {
    -moz-transform: translate(1px, -1px)  rotate(1deg);
  }
  50%  {
    -moz-transform: translate(-1px, 1px)  rotate(-1deg);
  }
  60%  {
    -moz-transform: translate(-3px, -2px)  rotate(0deg);
  }
  70%  {
    -moz-transform: translate(2px, 1px)   rotate(-1deg);
  }
  80%  {
    -moz-transform: translate(-1px, -2px) rotate(1deg);
  }
  90%  {
    -moz-transform: translate(2px, -1px)   rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, -2px)  rotate(-1deg);
  }
}

@-webkit-keyframes linkQuake { /* Safari and Chrome */
  0%   {
    -webkit-transform: translate(2px, 1px)   rotate(0deg);
  }
  10%  {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20%  {
    -webkit-transform: translate(-3px, 0px)  rotate(1deg);
  }
  30%  {
    -webkit-transform: translate(0px, 2px)   rotate(0deg);
  }
  40%  {
    -webkit-transform: translate(1px, -1px)  rotate(1deg);
  }
  50%  {
    -webkit-transform: translate(-1px, 1px)  rotate(-1deg);
  }
  60%  {
    -webkit-transform: translate(-3px, -2px)  rotate(0deg);
  }
  70%  {
    -webkit-transform: translate(2px, 1px)   rotate(-1deg);
  }
  80%  {
    -webkit-transform: translate(-1px, -2px) rotate(1deg);
  }
  90%  {
    -webkit-transform: translate(2px, -1px)   rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px)  rotate(-1deg);
  }
}
