html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

@media only screen and (min-width: 993px) {
  #content {
    margin-left: 240px;
  }
}

.home-landscape {
  background: url(/imgs/books-background.jpg) top center;
  height: 500px;
  color: white;
  text-align: center;
  margin-top: -60px;
}

.home-landscape h1 {
  padding-top: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

footer > .content {
  padding-right: 15px;
  padding-left: 15px;
}

header,
main,
footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 99%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}

#content .card {
  max-width: 600px;
  margin: 30px auto;
}

.evaluation {
  width: 20%;
  float: left;
  text-align: center;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 0;
}

.evaluation:hover {
  background: #F1F1F1;
}

.evaluation img {
  width: 75%;
  margin: 0 12.5%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
