<template name="cardComments">
  {{#if commentCount}}
    {{#each comments}}
      {{> cardComment}}
    {{/each}}
  {{else}}
    <div class="card-panel teal lighten-4">
    <p class="center">Oups... Not translated yet. Please help us by adding a comment.</p>
    </div>
  {{/if}}
  {{> cardCommentAddForm}}
</template>

<template name="cardComment">
  <div class="card-action">
    {{#markdown}}{{content}}{{/markdown}}<br>
    <div class="clearfix">
    <div class="left">{{nbVotes}} vote(s) <a class="waves-effect waves-light btn blue {{#if userHasVoted}}darken{{else}}lighten{{/if}}-4 js-{{#if userHasVoted}}un{{/if}}like">+1</a></div>
    <div class="right">{{author.username}}</div>
    </div>
  </div>
</template>

<template name="cardCommentAddForm">
  <div class="card-action">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="add-a-comment" class="materialize-textarea"></textarea>
          <label for="add-a-comment">Add a comment</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
      </div>
    </form>
  </div>
</template>
