<template name="homeLayout">
  <div class="home-landscape">
    <h1 class="center">Learn Anything with Brio !</h1>
    <a class="waves-effect waves-light btn pink darken-3" href="/sign-up">Sign up</a>
    <a class="waves-effect waves-light btn pink lighten-3" href="/sign-in">Sign In</a>
  </div>

  <div class="clearfix"></div>
  <div class="home-concept container">
    <img src="/imgs/card-example.png" class="card-demo" />
    <h3>Big Data cloud revolution</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
condimentum ut nisl eu interdum. Aenean gravida lacus quis iaculis fringilla.
Proin fermentum facilisis eros. Praesent aliquam ipsum sem. Donec vel dignissim
magna. Quisque egestas metus nunc, sit amet convallis felis vestibulum eu.
Integer sed neque nec nisl fringilla vulputate. Quisque congue tincidunt augue a
rutrum. Proin vel libero varius, bibendum neque nec, pharetra tortor. Nam
dignissim velit et sem vulputate, vitae elementum eros dignissim. In hac
habitasse platea dictumst. Suspendisse vitae quam at augue lacinia interdum.
Vestibulum et venenatis nisl. Phasellus malesuada aliquam quam ac laoreet.
Nullam magna risus, bibendum at cursus iaculis, egestas nec ex.
    </p>
    <div class="clearfix"></div>
  </div>

  {{> footer}}
</template>
