<template name="homeLayout">
  <div class="home-landscape">
    <h1 class="center">Learn Anything with Brio !</h1>
    <a class="waves-effect waves-light btn pink darken-3" href="/sign-up">Sign up</a>
    <a class="waves-effect waves-light btn pink lighten-3" href="/sign-in">Sign In</a>
  </div>

  <div class="clearfix"></div>
  <div class="home-concept container">
    <img src="/imgs/card-example.png" class="card-demo" />
    <h3>Learning anything with Brio !</h3>
    <p>
      Brio is an <strong>open-source</strong> <a href="https://en.wikipedia.org/wiki/Spaced_repetition"><strong>S</strong>paced <strong>R</strong>epetition </a> <strong>S</strong>ystem.</p>
      <p>Brio makes it easy for everybody who wants to learn something to auto-evaluate his to-day training. After having chosen a specific lesson, the system present every card of the lesson to the authorized visitor. Before seeing the next one, he must auto-evaluate his knowledge of it by choosing the adequate smiley on the slider. His choice conditions the next appearence of the card later on.</p><p>This is the first beta version of the project, developped with <a href="https://www.meteor.com/"><strong>Meteor</strong></a> during the <em>emerite</em> 2015 Hackaton in Paris, by the <em>Brio</em> Team.
    </p><p>Join them to go on!</p>
    <div class="clearfix"></div>
  </div>

  {{> footer}}
</template>
